.month-year-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--wrap-width), 1fr));
  justify-content: stretch;
  gap: var(--s2);
}

::deep .select {
  min-width: 0;
}
