.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-block-start: var(--s2);
}

.form-header {
  padding-inline: var(--s2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

::deep .loading-circle {
  margin-block-start: var(--s8);
  align-self: center;
}

::deep .problem-alert {
  --card-width: 100%;
  --card-height: auto;
}

::deep .problem-alert.main {
  margin-block-start: var(--s3);
  margin-inline: var(--s1);
}

.go-to-other-components-container {
  display: flex;
  flex-direction: row;
  gap: var(--s2);
}

::deep .invisible {
  pointer-events: none;
  opacity: 0;
}

.form-title {
  font: var(--font-header-medium);
  line-height: 1;
  padding-inline: var(--s2);
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.form {
  flex: 1;
  overflow-y: auto;
  padding: var(--s2);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--s4);
}

.form-actions {
  display: flex;
  flex-direction: row;
  padding-block: var(--s2);
  gap: var(--s2);
}

.form-actions.hidden {
  display: none;
}

::deep .form-field {
  width: 100%;
  display: block;
}

.form-checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--s2);
  flex-wrap: wrap;
}

.add-titles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: var(--s2);
}

.form-kind {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
  justify-content: stretch;
  gap: var(--s2);
}

/* Force MudDataGrid to use Flexbox since this way the column widths can actually be controlled */

::deep .components-grid {
  margin-block-start: var(--s4);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  --number-width: 32px;
  --year-width: 80px;
  --menu-width: 32px;
}

::deep .no-header {
  display: none !important;
}

::deep .component-row {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

::deep .component-row.inactive {
  cursor: revert;
}

::deep .components-grid td.mud-table-cell {
  padding-inline: var(--s1);
}

::deep .components-grid td.mud-table-cell:nth-child(1) {
  padding-inline-start: var(--s2);
  flex: 0 0 var(--number-width);
  display: flex;
  justify-content: start;
  text-align: start;
  align-items: center;
}

::deep .components-grid td.mud-table-cell:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

::deep .components-grid td.mud-table-cell:nth-child(3) {
  flex: 0 0 var(--year-width);
  display: flex;
  justify-content: end;
  text-align: end;
  align-items: center;
}

::deep .components-grid td.mud-table-cell:nth-child(4) {
  padding-inline-end: var(--s2);
  flex: 0 0 var(--menu-width);
  display: flex;
  justify-content: end;
  align-items: center;
}

.remove-container {
  display: flex;
  justify-content: center;
  margin-block: var(--s2);
}
