.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-block-start: var(--s2);
}

.form-header {
  padding-inline: var(--s2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.go-to-other-components-container {
  display: flex;
  flex-direction: row;
  gap: var(--s2);
}

::deep .invisible {
  pointer-events: none;
  opacity: 0;
}

.form-title {
  font: var(--font-header-medium);
  line-height: 1;
  padding-inline: var(--s2);
  padding-block-end: var(--s1);
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.form {
  flex: 1;
  overflow-x: clip;
  overflow-y: auto;
  padding: var(--s2);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--s4);
}

.form-actions {
  display: flex;
  flex-direction: row;
  padding-block: var(--s2);
  gap: var(--s2);
}

.poster {
  width: 100%;
}

.form-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--s2);
  flex-wrap: wrap;
}

.form-checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--s2);
  flex-wrap: wrap;
}

::deep .form-field {
  width: 100%;
  display: block;
}

.delete-container {
  display: flex;
  justify-content: center;
  margin-block: var(--s2);
}
