@page "/login"
@inherits CineasteComponent

<div class="container">
    <h1 class="title">Log In to Cineaste</h1>

    <div>
        <MudTextField @bind-Value="this.Email" Label="Email" InputType="InputType.Email" />
        <MudTextField @bind-Value="this.Password" Label="Password" InputType="InputType.Password" />
        <MudCheckBox @bind-Value="this.RememberUser" Label="Remember me" />
        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="this.Login">Login</MudButton>
    </div>
</div>

@code {
    private string Email { get; set; } = String.Empty;
    private string Password { get; set; } = String.Empty;
    private bool RememberUser { get; set; } = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.SubscribeToAction<LoginResultAction>(action => this.PageNavigator.GoToHomePage());
    }

    private void Login() =>
        this.Dispatcher.Dispatch(new LoginAction(new LoginRequest(this.Email, this.Password), this.RememberUser));
}
