:root {
  --s1: calc(var(--design-unit) * 1px);
  --s2: calc(var(--s1) * 2);
  --s3: calc(var(--s1) * 3);
  --s4: calc(var(--s1) * 4);
  --s6: calc(var(--s1) * 6);
  --s8: calc(var(--s1) * 8);
  --s16: calc(var(--s1) * 16);
}
