#blazor-error-ui {
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--mud-palette-background-grey, lightyellow);
  display: none;
  padding: var(--s2) var(--s4);
  width: 100%;
  z-index: 1;
}

#blazor-error-ui .erorr-ui-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
}
