.label {
  display: block;
  cursor: pointer;
  color: var(--neutral-foreground-rest);
  font-family: var(--body-font);
  font-size: var(--type-ramp-base-font-size);
  line-height: var(--type-ramp-base-line-height);
  font-weight: initial;
  font-variation-settings: var(--type-ramp-base-font-variations);
  margin-bottom: 4px;
}

.list-sidebar {
  /* Needed to not cut selectors' shadows inside sidebar forms */
  margin-inline-start: calc(var(--s16) * -1);
  padding-inline-start: var(--s16);
}
