:root {
  /* Spacing */
  --s1: calc(4px);
  --s2: calc(var(--s1) * 2);
  --s3: calc(var(--s1) * 3);
  --s4: calc(var(--s1) * 4);
  --s6: calc(var(--s1) * 6);
  --s8: calc(var(--s1) * 8);
  --s16: calc(var(--s1) * 16);
  /* Fonts */
  --default-line-height: 1.5;
  --body-font: 'Raleway', sans-serif;
  --font-app-title: 300 5rem / var(--default-line-height) var(--body-font);
  --font-header-large: 200 2.5rem / var(--default-line-height) var(--body-font);
  --font-header-medium: 200 2rem / var(--default-line-height) var(--body-font);
  --font-header-dialog: 400 1.75rem / var(--default-line-height) var(--body-font);
  /* Dimensions */
  --combobox-height: 300px;
  --content-width-narrow: min(500px, 100%);
}
