.summary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--s2);
}

.main-text {
  font-weight: 700;
}

.button-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--s2);
}

::deep .details-divider {
  border-color: var(--mud-palette-error-lighten) !important; /* !important used to override MudBlazor */
  margin-block: var(--s2);
}

.details-container {
  margin-block-start: var(--s2);
}

::deep .details-link {
  color: var(--mud-palette-error-darken) !important; /* !important used to override MudBlazor */
}

::deep .details-link::before {
  content: '(';
}

::deep .details-link::after {
  content: ')';
}
