@using MudBlazor

<MudThemeProvider Theme="this.CineasteTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<StoreInitializer />

<FluentDesignSystemProvider>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView>
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</FluentDesignSystemProvider>

@code {
    private MudTheme CineasteTheme = new()
    {
        Typography = new()
        {
            Default = new()
            {
                FontFamily = new[] { "Raleway", "sans-serif" },
                FontSize = "1rem"
            }
        }
    };
}
