@inherits LayoutComponentBase

<MudThemeProvider Theme="this.CineasteTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<StoreInitializer @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />

@this.Body

<div id="blazor-error-ui">
    <div class="erorr-ui-container">
        <div>
            <span>An unhandled error has occurred.</span>
            <a href="" class="reload">Reload</a>
        </div>
        <a class="dismiss">🗙</a>
    </div>
</div>

<style>
    #loader {
        display: none;
    }
</style>

@code {
    private MudTheme CineasteTheme = new()
    {
        Typography = new()
        {
            Default = new DefaultTypography()
            {
                FontFamily = new[] { "Raleway", "sans-serif" },
                FontSize = "1rem"
            }
        }
    };
}
