<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Cineaste</title>

    <base href="/" />

    <link rel="stylesheet" href=@this.Assets["_content/MudBlazor/MudBlazor.min.css"] />

    <link rel="stylesheet" href="css/variables.css" />
    <link rel="stylesheet" href="css/reboot.css" />
    <link rel="stylesheet" href="css/font.css" />
    <link rel="stylesheet" href="css/loader.css" />
    <link rel="stylesheet" href="css/styles.css" />

    <link rel="stylesheet" href="Cineaste.Client.styles.css" />

    <ImportMap />

    <link rel="icon" type="image/ico" href="favicon.ico" />

    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
</head>

<body>
    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />

    <div id="loader"> <!-- This loader is hidden in the main layout in the client project -->
        <div class="loading-progress-container">
            <svg class="loading-progress">
                <circle r="40%" cx="50%" cy="50%" />
                <circle r="40%" cx="50%" cy="50%" />
            </svg>
            <div class="loading-progress-text"></div>
        </div>
    </div>

    <script src="_framework/blazor.web.js"></script>
    <script src=@this.Assets["_content/MudBlazor/MudBlazor.min.js"]></script>
</body>

</html>
