.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: var(--s2);
  --content-width: var(--content-width-narrow);
  --max-height: var(--combobox-height);
}

.form-title {
  font: var(--font-header-large);
  margin-block: var(--s4);
  outline: none;
}

.form-content {
  width: var(--content-width);
  outline: none;
  display: flex;
  flex-direction: column;
  gap: var(--s4);
}

::deep .form-card {
  padding: var(--s4);
  display: flex;
  flex-direction: column;
  gap: var(--s2);
  contain: none;
  content-visibility: visible;
}

.card-header {
  font: var(--font-header-medium);
}

::deep .form-field {
  width: 100%;
}

.action-panel {
  margin-block-start: var(--s4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--s4);
}

.loading {
  margin-block-start: var(--s4);
}

.hint-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--s2);
}

.handle-label {
  cursor: pointer;
}

::deep .create-list-problem-alert {
  --card-width: var(--content-width);
  --card-height: auto;
  margin-block-start: var(--s4);
}
