.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: 'sidebar list actions';
  height: 100%;
}

.sidebar-container {
  grid-area: sidebar;
  height: 100%;
}

.list-container {
  grid-area: list;
  height: 100%;
}

.action-panel-container {
  grid-area: actions;
  height: 100%;
}
