.list-item-container {
    border: none;
    border-radius: 0;
}

.list-item {
    font-size: 1rem;
}

.item-number {
    width: 50px;
}

.item-title {
    width: calc((100% - 175px) / 2)
}

.item-years {
    width: 125px
}

::deep .rz-g {
    flex-direction: column;
}
