.container {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::deep .loading-circle {
  margin-block-start: var(--s8);
}

::deep .problem-alert {
  --card-width: var(--content-width-narrow);
  --card-height: auto;
  margin-block-start: var(--s3);
}

/* Force MudDataGrid to use Flexbox since this way the column widths can actually be controlled */

::deep .list {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items:stretch;
  --number-width: 48px;
  --year-width: 72px;
  --min-row-height: 60px;
}

::deep .list-row, ::deep .mud-table-head .mud-table-row {
  cursor: pointer;
  width: 100%;
  min-height: var(--min-row-height);
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

::deep .list th.mud-table-cell:nth-child(1) {
  flex: 0 0 var(--number-width);
  display: flex;
  justify-content: start;
}

::deep .list th.mud-table-cell:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
}

::deep .list th.mud-table-cell:nth-child(3) {
  flex: 1;
  display: flex;
  justify-content: center;
}

::deep .list th.mud-table-cell:nth-child(4) {
  flex: 0 0 var(--year-width);
  display: flex;
  justify-content: end;
}

::deep .selected-row {
  background-color: var(--mud-palette-table-striped);
}

::deep .cell-content {
  color: var(--cell-color) !important; /* !important overrides the color set by MudBlazor */
  font-size: var(--mud-typography-default-size);
  display: flex;
  align-items: center;
}

::deep .number {
  flex: 0 0 var(--number-width);
  justify-content: start;
}

::deep .title {
  flex: 1;
  justify-content: center;
}

::deep .year {
  flex: 0 0 var(--year-width);
  justify-content: end;
}
