.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::deep .loading-circle {
  margin-block-start: var(--s8);
}

::deep .problem-alert {
  --card-width: var(--content-width-narrow);
  --card-height: auto;
  margin-block-start: var(--s3);
}

.list-name {
  font: var(--font-header-large);
}

::deep .list {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  --type-ramp-base-font-size: 1.25rem;
  --type-ramp-base-line-height: initial;
}

::deep .selected-row {
  background-color: var(--neutral-layer-3);
}

::deep .list fluent-data-grid-cell {
  justify-self: stretch;
  align-self: stretch;
  white-space: break-spaces;
}

::deep .list fluent-data-grid-cell:not(.column-header) {
  --type-ramp-base-line-height: 1em;
  /* Padding is defined in the cell content */
  padding: 0;
}

.cell-content {
  height: 100%;
  cursor: pointer;
  color: var(--cell-color);
  /* Padding is defined here instead of the cell itself so that click events can be captured by the content */
  padding:
    calc((var(--design-unit) + var(--focus-stroke-width) - var(--stroke-width)) * 1px)
    calc(((var(--design-unit) * 3) + var(--focus-stroke-width) - var(--stroke-width)) * 1px);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.number {
  justify-content: start;
}

.title {
  justify-content: center;
}

.year {
  justify-content: end;
}
