@inherits CineasteComponent

<div class="container">
    <FluentButton Appearance="Appearance.Accent" Class="add" @onclick="@this.CreateMovie">
        @this.Loc["ListActionsPanel.AddMovie"]
    </FluentButton>

    <FluentButton Appearance="Appearance.Accent" Class="add" @onclick="@this.CreateSeries">
        @this.Loc["ListActionsPanel.AddSeries"]
    </FluentButton>
</div>

@code {
    [Parameter]
    public EventCallback CreateMovie { get; set; }

    [Parameter]
    public EventCallback CreateSeries { get; set; }
}
