.container {
  height: 100%;
  display: grid;
  grid-template-columns: fit-content(200px) 4fr 1fr;
  grid-template-areas: 'sidebar list actions';
  gap: var(--s2);
}

.sidebar-container {
  grid-area: sidebar;
  height: 100%;
}

.list-container {
  grid-area: list;
  height: 100%;
}

.action-panel-container {
  grid-area: actions;
  height: 100%;
}
