@inherits CineasteComponent
@using MudBlazor

<div class="container">
    <MudButton
        Color="MudBlazor.Color.Primary"
        Variant="Variant.Filled"
        Size="Size.Large"
        Class="add"
        @onclick="@this.CreateMovie"
    >
        @this.Loc["ListActionsPanel.AddMovie"]
    </MudButton>

    <MudButton
        Color="MudBlazor.Color.Primary"
        Variant="Variant.Filled"
        Size="Size.Large"
        Class="add"
        @onclick="@this.CreateSeries"
    >
        @this.Loc["ListActionsPanel.AddSeries"]
    </MudButton>
</div>

@code {
    [Parameter]
    public EventCallback CreateMovie { get; set; }

    [Parameter]
    public EventCallback CreateSeries { get; set; }
}
