@inherits CineasteComponent

<div class="d-flex flex-column h-100 pt-4">
    <RadzenButton Text="@this.Loc["ListActionsPanel.AddMovie"]" Click="@this.CreateMovie" Icon="add_circle_outline"
                  class="big mb-2 w-100" />
    <RadzenButton Text="@this.Loc["ListActionsPanel.AddSeries"]" Click="@this.CreateSeries" Icon="add_circle_outline"
                  class="big mt-2 w-100" />
</div>

@code {
    [Parameter]
    public EventCallback CreateMovie { get; set; }

    [Parameter]
    public EventCallback CreateSeries { get; set; }
}
