.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  --content-width: var(--content-width-narrow);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s2);
  margin-block: var(--s4);
}

.title {
  font-size: var(--fs-app-title);
  font-weight: var(--fw-app-title);
  margin-block-start: var(--s16);
  margin-block-end: var(--s4);
  outline: none;
}

.subtitle {
  font-size: var(--fs-header-large);
  font-weight: var(--fw-header-large);
  margin-block: var(--s4);
}

.loading {
  margin-block-start: var(--s8);
}

.lists {
  width: var(--content-width);
  padding-inline: var(--s4);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.list-container {
  cursor: pointer;
}

.list {
  font-size: var(--fs-big);
  margin-block: var(--s4);
  margin-inline: 0;
}

::deep .problem-alert {
  width: var(--content-width);
  margin-block-start: var(--s3);
}
