.container {
  height: 100%;
  margin-block-start: var(--s16);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s8);
}

.title {
  font: var(--font-app-title);
  outline: none;
}
